<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<meta name='yandex-verification' content='5af5860108959616' />
        <meta name="google-site-verification" content="_2Y-3bOhNdopdIkRZfx_BRqCzvXSDU_ZKmBFrJtPqe8" />
        <meta name="google-site-verification" content="l0SIIMi47mpZIs0fjWkOVSrZR8x5vLrCRGXA5AVcF34" />-->

    <link rel="alternate" type="application/rss+xml" href="http://www.scribesrfc.com/feed/" title="Scribes RFC Posts RSS feed" />
    <link rel="pingback" href="http://www.scribesrfc.com/xmlrpc.php" />
    <!-- This site is optimized with the Yoast SEO plugin v2.3.5 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Scribes RFC | East Vancouver Rugby Club | @ViewBag.Title</title>
    <meta name="description" content="Vancouver Rugby Club - Scribes RFC is located in East Vancouver, BC. Join us! We are looking for new players of any level. All welcome." />
    <link rel="canonical" href="http://www.scribesrfc.com" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome-4.7.0/css/font-awesome.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Styles/Styles.min.css")" type="text/css" media="screen">
    <!--<link rel="stylesheet" href="~/Styles/Styles.css" media="screen">-->
    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if lte IE 6]>
        <link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
    <![endif]-->
</head>
<body class="body">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header container-fluid" id="wrapper">
        <div id="nav-wrapper" class="row">
            <nav id="scribes-home-nav" class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <img alt="Brand" src="@Url.Content("~/Content/Images/scribes-rugby-vancouver-brand.png")">
                        </button>
                        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li @ViewBag.NavHome>@Html.ActionLink("Home", "Index")</li>
                            <li @ViewBag.NavNews>@Html.ActionLink("News", "LatestNews")</li>
                            <li @ViewBag.NavMens>@Html.ActionLink("Mens Rugby", "MensRugby")</li>
                            <li @ViewBag.NavWomens>@Html.ActionLink("Womens Rugby", "WomensRugby")</li>
                            <li @ViewBag.NavMinis>@Html.ActionLink("Minis Rugby", "MinisRugby")</li>
                            <li @ViewBag.NavTag>@Html.ActionLink("Tag Rugby", "TagRugby")</li>
                            <li @ViewBag.NavJoin>@Html.ActionLink("Join Scribes", "JoinScribes")</li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div id="hero-row" class="row">
            @RenderSection("HeroContent", required: false)
        </div>

    </header>

    @RenderBody()


    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4"><img src="@Url.Content("~/Content/Images/scribes-rugby-crest_homepage-bridge.png")" width="233" height="330"></div>
                <div class="col-lg-4 text-right">
                    <ul class="nav">
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 text-right">
                    <ul class="nav">
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                        <li><a href="@Url.Content("~/Home/")">Link Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>try { Modernizr } catch (e) { document.write('<script src="/Scripts/modernizr-2.8.3.js"><\/script>') }</script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
                crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/Scripts/jquery-2.2.3.min.js"><\/script>')</script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function is_touch_device() {
            return 'ontouchstart' in window        // works on most browsers
             || navigator.maxTouchPoints;       // works on IE10/11 and Surface
        };

        if (is_touch_device()) {
            $('html').addClass('touch')
        } else {
            $('html').addClass('no-touch')
        }

    </script>

</body>

</html>